@import './node_modules/bulma/sass/utilities/initial-variables.sass';
@import './theme.scss';

// global
$family-sans-serif: $font-family-main;
$body-background-color: $white;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $black;

// navbar
$navbar-item-hover-background-color: transparent;

// footer
$footer-background-color: $office-green;
$footer-color: $white;
$footer-padding: 3rem 1.5rem;